.reviewCard {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.content {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
