.deleteBusinessContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  .btn-danger {
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c9302c;
  }
  
  .btn-danger:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
  }
  