.searchBar {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.searchBar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
}

.btn-primary {
  background-color: #d32323;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn-primary:hover {
  background-color: #a81818;
}
